* {margin: 0, padding: 0}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: arial;
  background-color: #191919;
  color: #262626;
}

#menu {
  display: block;
  width: 100%;
  height: 30px;
  position: fixed;
}

#social {
  float: right;
  margin: 10px 0 0 0;
}

#social a {
  margin-right: 20px;
  color: white;
  font-size: 2em;
  text-decoration: none;
  transition: color 0.3s;
}

#social a:hover {
  color: #ff1a4b;
}

#content {
  display: flex;
  flex-flow: column;
  align-items: center;
}

@keyframes float{
    from {-webkit-transform:translate(0, 0px); -moz-transform:translate(0, 0px);}
    60% {-webkit-transform:translate(0, 15px); -moz-transform:translate(0, 15px);}
    to {-webkit-transform: translate(0, -0px); -moz-transform: translate(0, -0px);}
}

#logo {
  width: 215px;
  height: 215px;
  background-image: url("../img/yout.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin: 90px 0 40px 0;
  animation: float 2s infinite;
}

.hr-pink {
  margin: 0;
  width: 70%;
  height: 1px;
  border: 0;
  border-top: 1px solid black;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 26, 75, 0.35), rgba(0, 0, 0, 0));
}

hr {
  margin: 10px 0 10px 0;
  width: 100%;
  height: 3px;
  border: 0;
  border-top: 1px solid #dddddd;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(221, 221, 221, 0.4), rgba(0, 0, 0, 0));
}

#main-text {
  text-align: center;
}

p {
  display: flex;
  font-style: italic;
  font-weight: bolder;
}

#platforms {
  display: flex;
  width: 100%;
  height: auto;
  margin-top: 200px;
  background-color: white;
}

.os-logo{
  margin-bottom:50px;
}

.download-for {
  text-align: center;
  width: 100%;
  margin: 20px 0 0 20px;
  padding: 30px;
  background-color:white;
}

.bits {
  display: block;
  margin: 20px 0 20px 0;
  color:#ff1a4b !important;
}

.download-for i {
  display: block;
  text-align: center;
  font-size: 5em;
  color: #ff1a4b;
}

.download-for a {

    text-align: center;
    width: 140px;
    font-size: 1.3em;
    text-decoration: none;
    color: #262626;
    transition: color 0.3s;
}

.download-for a:hover {
    color: #ff1a4b;
}

.download-for a span {
    font-size: 1.1em;
    font-family: arial;
    color: #262626;
    transition: color 0.3s;
}

.download-for a span:hover {
    color: #ff1a4b;
}


span {
  font-size: 1.9em;
  color:white;
}

.pink {
  color: #ff1a4b;
}
