* {margin: 0, padding: 0}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: arial;
  color: #262626;
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

#menu {
  display: block;
  width: 100%;
  height: 50px;
  position: fixed;

  z-index: 30000;
}

#social {
  float: right;
  margin: 10px 0 0 0;
}

#social a {
  margin-right: 20px;
  color: white;
  font-size: 2em;
  text-decoration: none;
  transition: color 0.3s;
}

#social a:hover {
  color: #ff1a4b;
}

#content {
  display: flex;
  flex-flow: column;
  align-items: center;
}

@keyframes float{
    from {-webkit-transform:translate(0, 0px); -moz-transform:translate(0, 0px);}
    60% {-webkit-transform:translate(0, 15px); -moz-transform:translate(0, 15px);}
    to {-webkit-transform: translate(0, -0px); -moz-transform: translate(0, -0px);}
}

#logo {
  width: 215px;
  height: 215px;
  background-image: url("../img/yout.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin: 90px 0 40px 0;
  animation: float 2s infinite;
}

hr {
  margin: 10px 0 10px 0;
  width: 100%;
  border: 2px solid black;
  border-bottom: 2px solid #262626;

}

#main-text {
  text-align: center;
  cursor: default;
}

p {
  display: flex;
  flex-flow: column;
  align-items: center;
  font-style: italic;
  font-weight: bolder;
}

#description {
  font-size: 1.2em;
  margin-bottom: 15px;
}

span {
  font-size: 1.9em;
  color: white;
}

.pink {
  color: #ff1a4b;
}

#platforms {
  display: flex;
  width: 100%;
  height: 550px;
  margin-top: 200px;
  background-color: rgba(1, 1, 1, 0.7);
}

.os-logo{
  margin-bottom:50px;
}

.download-for {
  text-align: center;
  width: 100%;
  margin: 20px 20px 0 20px;
  padding: 30px;
}

.bits {
  display: block;
  margin: 20px 0 20px 0;
  color: #ff1a4b !important;
}

.download-for i {
  display: block;
  text-align: center;
  font-size: 5em;
  color: #c4c4c4;
}

.download-for a {
    text-align: center;
    width: 140px;
    font-size: 1.3em;
    text-decoration: none;
    color: #c4c4c4;
    transition: color 0.3s;
}

.download-for a:hover {
    color: #ff1a4b;
}

.download-for a span {
    font-size: 1.1em;
    font-family: arial;
    color: #c4c4c4;
    transition: color 0.3s;
}

.download-for a span:hover {
    color: #ff1a4b;
}

#footer {
  display: flex;
  align-items: center;
  flex-flow: column;
  width: 100%;
  background-color: white;
  padding: 20px 0 20px 0;
}

#footer span {
  display: flex;
  color: #262626;
  font-size: 1em;
  margin: 70px 0 0 0;
}

#payments-text span {
  display: flex;
  font-size: 1.8em;
  color: #262626;
  margin-bottom: 30px;
}

#payments-img a {
  margin-right: 30px;
}

#footer a {
    text-decoration: none;
    color: #262626;
    transition: color 0.3s;
    margin-left:3px;
}

#footer a:hover {
    color: #ff1a4b !important;
}
