html, body {
  background-size: auto;
}

#social a {
  font-size: 3em;
}

#content {
  min-width: 480px;
}

#main-text {
  max-width: 440px;
}

#downloads {
  flex-wrap: wrap;
}

#description {
  font-size: 1.8em;
}
